
*{
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* body{
  background-color: #f0f0f0;

} */

h3{
  font-size: 24px;
  font-weight: 400;
  margin: 15px;
}

#rats{
  color: black;
  font-weight: 400;
  font-size: 20px;
}

h4{
  margin: 0.8rem;
}

a{
  text-decoration: none;
  color: black;
  font-family: freight-sans-pro;
}

.synop{
  color: black;
  margin-left: 5rem;
  font-weight: 400;
  line-height: 24px;
  margin-right: 5rem;
  margin-top: 2rem;

}

h2{
  color: white;
  font-size: 54px;
  font-weight:1200;
  margin-left: 25px;
  font-family: freight-sans-pro;
  font-weight: 600;
  font-style: normal;
  margin: 25px;
}

span{
  color: white;
  font-size: 15px;
  margin-left: 2rem;
  font-weight:400;
  font-family: freight-sans-pro;
}

.footertext{
  margin: 0px;
  margin-left: 1.5rem;
  margin-top: 1.5rem;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.footertextv2{
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

.fire{
  padding: 1rem;
}

#bottext{
  font-size: 20px;
  margin-top: -20px;
}

a{
  font-weight: 200;
  font-size: 16px;
}

.temp{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1f1;
}

.logofix{
  height:2.5rem;
  margin-left: 10px;
  object-fit: cover;
}

.runfix{
  width: 35%;
  object-fit: cover;
  margin: 2rem;
  box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.3);

}

.uh{
  width: 30vw;
}

.threewords{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 10px;
  width: 30%;
}

.eventitle{
  background-color: #082A58;
  margin: 2rem;
  margin-bottom: 3.5rem;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);

  border-radius: 25px;
  height: 35vh;
  text-align: center;
}

.Banner{
  height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.twocol-row{
  display: flex;
  flex-direction: row;
}

.col1{
  height: 60%;
  background-color: white;
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.col2{
  height: 80vh;
  background-color: white;
  width: 30%;
  text-align: center;
}

.footer{
  background-color: #0B3D72;
  height: 45vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.section{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.thumbnail{
  height: 80px;
  width: auto;
  margin-right: 2rem;
}

.firstpart{
  text-align: center;
  width: 40%;
}

.testitle{
  margin-left: 1.6rem;
}

.calfix{
  width: 20px;
}

.lower{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.calandarpart{
  color: black;
}


.yellow{
  background-color: #D8A13B;
  height: 20rem;
  margin-top: 38rem;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

#berkfix{
  width:200px;
  height: auto;
  margin-bottom: 6rem;
}

.currentplay{
  width: 80%;
  height: 15vh;
  margin-top: 40px;
}

.speakerbios{
  width: 80%;
  margin-left: 8rem;
}

.titleofvid{
  color: white;
  margin-top: 3rem;

  color: black;
  font-size: 24px;
  font-weight: 700;
}

.vidfix{
  margin-top: 40px;
  height: auto;
  width: 80%;
}

.toptitle{
  width: 80%;
  height: 80px;
  background-color: #082A58;
  margin-top: 60px;
  border-radius: 15px 15px 0px 0px; 
}

.bottomsyn{
  margin-top: 1rem;
  background-color: rgb(235, 235, 235);
  width: 80%;
  height: 350px;
  position: relative;
  z-index: 1;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);

}

.alterego{
  background-color: #082A58;
  height: 350px;
  width: 80%;
  position: relative;
  z-index: 0;
  top: -300px;
  right: -50px;
}

#otheraxx{
  width: 90%;
  height: 400px;
  padding: 0.5rem;
  position: relative;
  z-index: 1;
}

.alteregotwo{
  background-color: #D8A13B;
  height: 400px;
  width: 90%;
  position: relative;
  z-index: 0;
  top: -350px;
  right: -50px
}

#bot{
  margin-top: 60px;
}

p{
  color: white;
  margin: 2rem;
  font-size: 15px;
}

.speakertitle{
  height: 80px;
  width: 140%;
  background-color: #082A58;
  border-radius: 50px;
  position: relative;
  top: 80px;
  right:  20px;
}

.arrow-right {
  width: 0; 
  height: 0; 
  border-top: 80px solid transparent;
  border-bottom: 80px solid transparent;
  border-left: 120px solid rgba(214, 214, 214, 0.575);
  position: relative;
  top: -270px;
  left: 15px;
}

.arrow-right:hover {
  border-left: 120px solid rgba(231, 231, 231, 0.575);
}

.bear{
  height: 50vh;
}

#temptitle{
  color: white;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.other{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
}

.subother{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h6{
  font-size: 22px;
  margin-bottom: -20px;
  font-weight: 400;
  font-family: freight-sans-pro;
}

.errormsg{
  margin-left: 60px;
}

a:after {
  display:block;
  content: '';
  border-bottom: solid 2px #FFB200;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
a:hover:after { transform: scaleX(1); }
a.fromRight:after{ transform-origin:100% 50%; }
a.fromLeft:after{  transform-origin:  0% 50%; }




.dropdown{
  background-color: #EEEEEE;
  width: 95%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  margin-top: 1.2rem;
  border-radius: 5px;
  justify-content: space-between;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  align-items: center;
}

.droptext{
  margin-left: 3rem;
  font-weight: 500;
}

.dropbutt{
  border: none;
  font-size: x-large;
  margin-right: 1rem;
}


.collapsible {
  cursor: pointer;
  padding: 18px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  background-color: #EEEEEE;
  width: 95%;
  height: 2.5rem;
  display: flex;
  align-items: center;
  margin-top: 1.2rem;
  border-radius: 5px;
  justify-content: space-between;
  box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.3);

}

.active, .collapsible:hover {
  background-color: rgb(185, 185, 185);
}

.collapsible:after {
  content: '\002B';
  color: rgb(0, 0, 0);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
  background-color: #F9F9F9;
  width: 95%;
  border-radius: 10px;
}

.colorfix{
  color: black;
}


.card {
  width: 30ch;
  height: 50ch;
  background: grey;
  border-radius: 5px;
  background-image: url(https://www.jweekly.com/wp-content/uploads/2020/03/carol-1WEB.jpg);
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
}

#extra{
  background-image: url(https://cdn.britannica.com/06/202006-050-64C85CC7/Neil-deGrasse-Tyson-2018.jpg);
}

.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}

.speakerbiorow{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 4rem;
}

.left-col {
  display: flex;
  flex-direction: column;
}

.right-col{
  display: flex;
  flex-direction: column;
  text-align: right;
  padding: 3rem;
}

.iconfix{
  width: 40px;
  height: auto;
  margin-left: 1rem;
  margin-top: 15px;
}







